<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio_Pokemon' %}">
            <i class="fas fa-dragon me-2"></i> Sistema Pokemon
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio_Pokemon' %}">
                        <i class="fas fa-home me-1"></i> Inicio
                    </a>
                </li>
                
                <!-- Menú Entrenadores -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-users me-1"></i> Entrenadores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">
                            <i class="fas fa-plus-circle me-2"></i>Agregar Entrenador
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_cliente' %}">
                            <i class="fas fa-list me-2"></i>Ver Entrenadores
                        </a></li>
                    </ul>
                </li>
                
                <!-- Menú Productos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-box me-1"></i> Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_producto' %}">
                            <i class="fas fa-plus-circle me-2"></i>Agregar Producto
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_producto' %}">
                            <i class="fas fa-list me-2"></i>Ver Productos
                        </a></li>
                    </ul>
                </li>
                
                <!-- Menú Pedidos - 👈 ESTE ES EL CORREGIDO -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-shopping-cart me-1"></i> Pedidos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_pedido' %}">
                            <i class="fas fa-plus-circle me-2"></i>Agregar Pedido
                        </a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_pedido' %}">
                            <i class="fas fa-list me-2"></i>Ver Pedidos
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>